body {
    font-family: var(--fuente-cuerpo);
    margin: 5;
    padding: 5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #feffcd;
    color: #000000;
}



nav ul {
    list-style: none;
    padding: 50;
    margin: 50;
    display: flex;
    justify-content: center;
    background-color: #7db4ee;
}

nav a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: var(--color-secundario);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 5px 0;
    bottom: 0;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form label {
    font-weight: bold;
    text-align: right;
    padding-top: 5px;
}

form input[type="text"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
}

form p {
    grid-column: 1 / 3;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

form input[type="submit"],
form input[type="reset"] {
    grid-column: 2 / 3;
    width: auto;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-self: start;
}

form input[type="reset"] {
    background-color: #777;
    margin-left: 10px;
}

form input[type="submit"]:hover {
    background-color: #e0533b;
}

.img-flotante-derecha {
    float: right;
    width: 150px; 
    height: auto;
    margin: 0 0 5px 5px; 
    border-radius: 5px;
}

.demografia img {
    width: 50%;
    height: auto;
    display: blocck;
    margin-bottom: 10px;
}

.galeria-fotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    margin-bottom: 40px;
}

.galeria-item {
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
}

.galeria-item img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    transition: transform 0.3s ease;
}

.galeria-item img:hover {
    transform: scale(1.05); 
}

.galeria-item p {
    text-align: center;
    padding: 10px 5px;
    margin: 0;
    font-size: 0.9em;
    color: #555;
}

iframe {
border-radius:30px ;
}

.informacion {
    min-width: 100px;
    padding: 30px;
}
.ubicacion {
    display: flex; 
}

a {
    color: #006bdd;
}

